html,
body {
  margin-top: 0%;
  padding: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  background-size: cover;
  scroll-behavior: smooth;
}
body {
  color: white;
  background: hsl(0, 0%, 0%);
  font: 300 1em 'Fira Sans', sans-serif;
  /*Center everything ever*/
  min-height: 100px;
  display: flex;
}
button {
  cursor: pointer;
  background-color: transparent;
  border: transparent;
  transition: 1s;
  padding: 10px;
  width: 50px;
  height: 100px;
  margin-right: 100%;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Comfortaa', cursive;
  font-family: 'Libre Barcode 39 Text', cursive;
  font-family: 'Righteous', cursive;
  font-family: 'Roboto', sans-serif;
}
button p {
  font-size: 45px;
  line-height: 0%;
  margin: 0%;
}
button p span {
  visibility: hidden;
}
button:hover {
  padding: 0%;
  border: transparent;
}
button:hover p {
  line-height: 0px;
  visibility: hidden;
}
button:hover p span {
  visibility: visible;
}
/*animaciones*/
@keyframes opacityy {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0.05;
  }
  10% {
    opacity: 0.1;
  }
  15% {
    opacity: 0.15;
  }
  20% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.25;
  }
  30% {
    opacity: 0.3;
  }
  35% {
    opacity: 0.35;
  }
  40% {
    opacity: 0.4;
  }
  45% {
    opacity: 0.45;
  }
  50% {
    opacity: 0.5;
  }
  55% {
    opacity: 0.55;
  }
  60% {
    opacity: 0.6;
  }
  65% {
    opacity: 0.65;
  }
  70% {
    opacity: 0.7;
  }
  75% {
    opacity: 0.75;
  }
  80% {
    opacity: 0.8;
  }
  85% {
    opacity: 0.85;
  }
  90% {
    opacity: 0.9;
  }
  95% {
    opacity: 0.95;
  }
  100% {
    opacity: 1;
  }
}
.transition {
  animation: opacityy 0.2s;
}
/*back*/
img {
  opacity: 0.3;
  width: 30%;
  margin-left: 83%;
}
/*headerButtonBack*/
.headerButtonBack {
  top: 20%;
  right: 70%;
  left: 0;
  margin: 10%;
}
.headerButtonBack .botonHeader {
  border: transparent;
  width: 30%;
  height: 5vw;
  padding: 1%;
}
.headerButtonBack .botonHeader a {
  text-decoration: none;
}
.headerButtonBack .botonHeader p {
  opacity: 0.4;
  color: white;
  font-size: 4vw;
  line-height: 0%;
  visibility: visible;
  transition: 0s;
}
.headerButtonBack .botonHeader p span {
  visibility: hidden;
}
.headerButtonBack .botonHeader:hover {
  animation: opacityy 0.3s;
  border: transparent;
  width: 27%;
  height: 5vw;
}
.headerButtonBack .botonHeader:hover p {
  line-height: 0px;
  visibility: hidden;
}
.headerButtonBack .botonHeader:hover p span {
  visibility: visible;
}
.moreContainer {
  padding: 5%;
  margin: 5%;
  display: grid;
  grid-template-columns: 20%;
  grid-template-rows: 10%;
}
.moreContainer div {
  /*border: 1px solid #e1306c;*/
  padding: 10%;
}
.moreContainer h3 {
  transition: 1s;
  width: 15vw;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Comfortaa', cursive;
  font-family: 'Libre Barcode 39 Text', cursive;
  font-family: 'Oswald', sans-serif;
  font-family: 'Righteous', cursive;
  font-family: 'Roboto', sans-serif;
  font-size: 4vw;
  margin-bottom: 20vw;
}
div h3:hover {
  color: #46c1f6;
  text-indent: 15%;
}

.moreContainer textarea {
  font-size: 3vw;
  width: 50vw;
  height: 15vw;
  padding: 0%;
  resize: none;
  border-style: groove;
  background-color: transparent;
  color: white;
  border-radius: 2vw;
  margin-right: 15vw;
  scroll-behavior: smooth;
  overflow: auto;
}
label {
  transition: 1s;
  opacity: 0.8;
  font-size: 3vw;
  margin-left: 18vw;
}
form:invalid label:hover {
  letter-spacing: 0.5vw;
  color: #da0e52;
}
form:valid label:hover {
  letter-spacing: 0.5vw;
  color: #46c1f6;
}
.moreContainer input {
  display: block;
  border-style: groove;
  font-size: 3vw;
  color: white;
  width: 40vw;
  height: 3vw;
  background-color: transparent;
  border-radius: 1vw;
  margin-left: 3vw;
}
@keyframes shake{
  25%{
    transform: translateX(5%);
  }50%{
    transform: translateX(0%);
  }75%{
    transform: translateX(5%);
  }
}
.moreContainer input:invalid {
  animation: shake 0.5s;
}
.moreContainer textarea:invalid{
  animation: shake 0.5s;
}
.moreContainer p {
  animation: opacityy 1s;
  transition: 1s;
  font-size: 4vw;
}

.moreContainer button {
  margin: 10%;
  width: 50vw;
  height: 4vh;
  padding: 5%;
}
.moreContainer button p {
  transition: 1s;
  font-size: 5vw;
  color: rgb(112, 183, 216);
  text-shadow: 0px 0px 8px #46c1f6;
  line-height: 0px;
}
.moreContainer form:invalid button p {
  color: palevioletred;
  text-shadow: 0px 0px 8px deeppink;
}
.moreContainer button:hover {
  margin: 10%;
  width: 50vw;
  height: 4vh;
  padding: 5%;
}
.moreContainer button:hover p {
  visibility: visible;
  letter-spacing: 1vw;
}
.moreContainer .flecha img {
  margin-top: 90%;
  margin-left: 270%;
  width: 5vw;
}

@media screen and (max-width: 485px) {
  .flecha {
    visibility: hidden;
  }
}
